n8n_agent/RideAnalyticsAgent.json
{
  "name": "RideAnalyticsAgent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b59ae2fe-28ec-4a0e-8437-d3c402bfcd5f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -672,
        304
      ],
      "webhookId": "35e804cc-01e6-4865-be54-d1c4d769e07f",
      "credentials": {
        "telegramApi": {
          "id": "PkNM9iOj4JaYMQRO",
          "name": "RideAnalyticsTelegramBot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "159f9e02-2c9d-4589-8b75-75ba494fa36b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "id": "f957829d-7417-4327-97eb-3102d32add35"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "61aa646e-550d-4294-822f-f0bb7ccc2ee6",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -448,
        304
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "🚗 Welcome to Ride Analytics!\n\nAvailable commands:\n\n/driver DRV000001 - Get driver details by ID\n/daily 2025-01-15 - Get daily ride metrics\n/revenue 2025-01-01 2025-01-31 - Revenue summary for date range\n\nExample: /driver DRV000001",
        "additionalFields": {}
      },
      "id": "a87872a6-98ba-471d-8d43-e3a1b573e12e",
      "name": "Send Welcome Menu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        400
      ],
      "webhookId": "0369df36-85a8-4b2f-80aa-1c55b1076ade",
      "credentials": {
        "telegramApi": {
          "id": "PkNM9iOj4JaYMQRO",
          "name": "RideAnalyticsTelegramBot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/driver",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "bb0b16d3-2b51-49a3-bee2-376078ac5346"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Driver Performance Details"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/revenue",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "a837bdc7-cac8-493a-b985-2a0ecf49df28"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Revenue Summary"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/daily",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "1d68599f-ed8e-4528-91d3-7fb52ac2b59a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Daily Rides"
            }
          ]
        },
        "options": {}
      },
      "id": "f889e029-4dba-44fb-9acd-0c57d6662590",
      "name": "Route Based on Option",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        176
      ]
    },
    {
      "parameters": {
        "url": "=https://ride-analytics-api-334408168933.us-central1.run.app/api/drivers/{{ $json.message.text.split(' ')[1] }}",
        "options": {}
      },
      "id": "bda3d4b2-021b-4d48-b091-6dcde0c0492d",
      "name": "Get Driver Details API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://ride-analytics-api-334408168933.us-central1.run.app/api/revenue/summary",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start_date",
              "value": "={{ $json.message.text.split(' ')[1] }}"
            },
            {
              "name": "end_date",
              "value": "={{ $json.message.text.split(' ')[2] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "86b5853b-b638-4f06-98d6-2d37eada6392",
      "name": "Get Revenue Summary API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "url": "https://ride-analytics-api-334408168933.us-central1.run.app/api/rides/daily/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $json.message.text.split(' ')[1]  }}"
            }
          ]
        },
        "options": {}
      },
      "id": "02b875b1-0f16-43db-a6ad-11735267281e",
      "name": "Get Daily Rides API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the API response data\nconst apiResponse = $input.first().json;\n\n// Get chat ID from the Telegram Trigger\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\n\n// Format driver details into readable text\nlet message = \"🚗 *Driver Details*\\n\\n\";\n\nif (apiResponse && apiResponse.driver_id) {\n  const driverInfo = apiResponse.driver_info || {};\n  const performance = apiResponse.performance || {};\n  \n  message += `🆔 *Driver ID:* ${apiResponse.driver_id}\\n\\n`;\n  \n  message += `👤 *Driver Information*\\n`;\n  message += `• Name: ${driverInfo.name || 'N/A'}\\n`;\n  message += `• Email: ${driverInfo.email || 'N/A'}\\n`;\n  message += `• Vehicle Type: ${driverInfo.vehicle_type || 'N/A'}\\n`;\n  message += `• City: ${driverInfo.city || 'N/A'}\\n`;\n  message += `• Rating: ${driverInfo.rating || 'N/A'}\\n`;\n  message += `• Status: ${driverInfo.is_active ? 'Active ✅' : 'Inactive ❌'}\\n\\n`;\n  \n  message += `📊 *Performance Metrics*\\n`;\n  message += `• Total Trips: ${performance.total_trips || 0}\\n`;\n  message += `• Total Earnings: $${performance.total_earnings || 0}\\n`;\n  message += `• Total Tips: $${performance.total_tips || 0}\\n`;\n  message += `• Average Rating: ${performance.avg_rating || 'N/A'}\\n`;\n  message += `• Avg Trip Duration: ${performance.avg_trip_duration_minutes || 0} minutes\\n`;\n  message += `• Avg Trip Distance: ${performance.avg_trip_distance_km || 0} km\\n`;\n  message += `• Completion Rate: ${performance.completion_rate || 0}%\\n`;\n} else {\n  message += \"❌ Unable to fetch driver details. Please try again later.\";\n}\n\n// Return formatted message with chat ID\nreturn [{\n  json: {\n    chatId: chatId,\n    message: message\n  }\n}];"
      },
      "id": "1c18bfab-918c-45b3-90d3-19205dcde0c5",
      "name": "Format Driver Details",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the API response data\nconst apiResponse = $input.first().json;\n\n// Get chat ID from the Telegram Trigger\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\n\n// Format revenue summary message\nlet message = \"📊 *Revenue Summary*\\n\\n\";\n\nif (apiResponse && apiResponse.summary) {\n  const summary = apiResponse.summary;\n  \n  // Add date range if available\n  if (apiResponse.start_date && apiResponse.end_date) {\n    message += `📅 *Period:* ${apiResponse.start_date} to ${apiResponse.end_date}\\n\\n`;\n  }\n  \n  // Add summary statistics\n  message += `🚗 *Total Rides:* ${summary.total_rides || 0}\\n`;\n  message += `💰 *Total Revenue:* $${(summary.total_revenue || 0).toFixed(2)}\\n`;\n  message += `💵 *Total Tips:* $${(summary.total_tips || 0).toFixed(2)}\\n`;\n  message += `📈 *Average Fare:* $${(summary.avg_fare || 0).toFixed(2)}\\n`;\n  message += `💸 *Total Fare (with Tips):* $${(summary.total_fare_with_tips || 0).toFixed(2)}\\n`;\n  \n  // Add daily breakdown if available\n  if (apiResponse.daily_breakdown && Array.isArray(apiResponse.daily_breakdown) && apiResponse.daily_breakdown.length > 0) {\n    message += `\\n📊 *Daily Breakdown:*\\n\\n`;\n    \n    apiResponse.daily_breakdown.forEach(day => {\n      message += `📅 ${day.date}\\n`;\n      message += `  🚗 Rides: ${day.rides || 0}\\n`;\n      message += `  💰 Revenue: $${(day.revenue || 0).toFixed(2)}\\n`;\n      message += `\\n`;\n    });\n  }\n} else {\n  message += \"❌ Unable to fetch revenue summary. Please try again later.\";\n}\n\n// Return formatted message with chat ID\nreturn [\n  {\n    json: {\n      chatId: chatId,\n      message: message\n    }\n  }\n];"
      },
      "id": "a75dbfb5-38bf-4a6d-abee-4fbbd9555e4c",
      "name": "Format Revenue Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get the API response data\nconst apiResponse = $input.first().json;\n\n// Get chat ID from the Telegram Trigger\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\n\n// Format the daily rides message\nlet message = \"📊 *Daily Rides Summary*\\n\\n\";\n\nif (apiResponse && apiResponse.date && apiResponse.data) {\n  const data = apiResponse.data;\n  \n  message += `📅 *Date:* ${apiResponse.date}\\n\\n`;\n  message += `🚗 *Total Rides:* ${data.total_rides || 0}\\n`;\n  message += `💰 *Total Revenue:* $${(data.total_revenue || 0).toFixed(2)}\\n`;\n  message += `💵 *Total Tips:* $${(data.total_tips || 0).toFixed(2)}\\n`;\n  message += `💸 *Total Fare (with Tips):* $${(data.total_fare_with_tips || 0).toFixed(2)}\\n`;\n  message += `⏱️ *Avg Duration:* ${(data.avg_duration_minutes || 0).toFixed(1)} minutes\\n`;\n  message += `📏 *Avg Distance:* ${(data.avg_distance_km || 0).toFixed(2)} km\\n`;\n  message += `📈 *Avg Fare:* $${(data.avg_fare || 0).toFixed(2)}\\n`;\n} else {\n  message += \"❌ No daily rides data available.\";\n}\n\n// Return formatted data\nreturn [{\n  json: {\n    chatId: chatId,\n    message: message\n  }\n}];"
      },
      "id": "c25c94a7-cfe7-4b9e-bfb3-7a67f4142605",
      "name": "Format Daily Rides",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        384
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {}
      },
      "id": "66eb0c4e-31c1-4c83-a679-ab0402c9c201",
      "name": "Send Response to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        112
      ],
      "webhookId": "f77828d8-0b0f-465b-b405-1a4a088e3d75",
      "credentials": {
        "telegramApi": {
          "id": "PkNM9iOj4JaYMQRO",
          "name": "RideAnalyticsTelegramBot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Send Welcome Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Based on Option",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Based on Option": {
      "main": [
        [
          {
            "node": "Get Driver Details API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Revenue Summary API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Daily Rides API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Driver Details API": {
      "main": [
        [
          {
            "node": "Format Driver Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Revenue Summary API": {
      "main": [
        [
          {
            "node": "Format Revenue Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Rides API": {
      "main": [
        [
          {
            "node": "Format Daily Rides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Driver Details": {
      "main": [
        [
          {
            "node": "Send Response to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Revenue Summary": {
      "main": [
        [
          {
            "node": "Send Response to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Daily Rides": {
      "main": [
        [
          {
            "node": "Send Response to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8672bd18-d84c-4916-9b10-2730a79be6e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81f4deee37e8de51cf4a15e8b81f266ed73b19012850c6cad4d0ade8412695a9"
  },
  "id": "G1lt0MUYKrkR4G86",
  "tags": []
}